# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Misc
*.log
*.tmp
*.swp
*.swo
*~
.DS_Store
